{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Passa pra frente - Crie Sua Conta</title>
    <link rel="stylesheet" href="{% static 'cadastro.css' %}">
    <link rel="shortcut icon" href="{% static 'PI0-ShortCut.png' %}">

</head>

<body>
    <div id="blank"></div>

    <div id="fundo">
        <section>
            
            <header>
                <a id="inicio" href="/">Inicio</a>
                <img src="{% static 'PI2-Logo_189x118.png' %}" alt="Logo">      
                <a id="entrar" href="">Entrar</a>  
            </header>
    
            <article>
               <h2>CRIE SUA CONTA</h2>
                <input type="text" placeholder="Nome">
                <input type="text" placeholder="Sobrenome">
                <input type="text" placeholder="Data de Nascimento">
                <input type="text" placeholder="E-mail">
                <input type="password" placeholder="Senha">
                <input id="botao" type="button" value="Entrar" onclick="location.href='/cadastrook' "> 
                
            </article>
    
        </section>
    </div>
    
    <div id="blank2"></div>

    <footer>
    
        <div>
            <a href="">Ajuda</a>
            <a href="">Privacidade</a>
            <a href="">Termos</a>
        </div>
    
    </footer>
    
</body>
</html>