@font-face {
    font-family: 'banaue';
    src: url('fonte/Banaue.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'utsaah';
    src: url('fonte/utsaah.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 
    'blank'
    'fundo'
    'blank2'
    'footer';
    grid-template-rows: 1fr 7fr 1fr auto;
    grid-template-columns: 100vw;
    margin:0;
}

@media (min-width:700px){
    body{
        grid-template-rows: 1fr 4fr 1fr auto;
    }
}

#blank{
    grid-area: blank;
    width: 100vw;
}

#fundo{
    grid-area: fundo;
    width: 100vw;
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: rgb(251, 251, 251);
    border-top: 10px solid rgb(248, 248, 248);
    border-block-end: 10px solid rgb(248, 248, 248);
}

@media (min-width:700px){
    #fundo{
        border-top: 15px solid rgb(248, 248, 248);
	    border-block-end: 15px solid rgb(248, 248, 248);
    }
}

section{
    height: 100%; 
    width: 58vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #E6E7E9;/* trocar por cor certa da home */
}

@media (min-width:700px){
    section{
        width: 52vh;
    }
}

header{
    height: 10%;
    width: 76%;
    display: grid; 
    grid-template-areas: 
    'Inicio Logo Entrar';
    grid-template-columns: 1fr auto 1fr;

}

header #inicio{
    grid-area: Inicio;
    color: rgb(1, 84, 136);
    font-family:'utsaah';
    font-size: 12pt;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media (min-width:700px){
    header #inicio{
        font-size: 14pt;
    }
}

header img{
    grid-area: Logo;
    height: 83px;
    width: 132px;
    margin-top: -35px; 
    display: flex;
    align-items: center;
    justify-items: center;
}

@media (min-width:700px){
    header img{
        height: auto;
        width: auto;
        margin-top: -60px; 
    }
}

header #entrar{
    grid-area: Entrar;
    color: rgb(1, 84, 136);
    font-family:'utsaah';
    font-size: 12pt;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media (min-width:700px){
    header #entrar{
        font-size: 14pt;
    }
}

article{
    height: 90%;
    width: 73%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

article h2{
    font-family: 'banaue';
    font-size: 24pt;
    margin: 0%;
    padding: 0%;

}

@media (min-width:700px){
    article h2{
        font-size: 28pt;
    }
}

input{
    font-family:'utsaah';
    width: 100%;
    height: 9%;
    font-size: 14pt;
}

@media (min-width:700px){
    input{
        width: 102%;
        height: 6%;
        font-size: 18pt;
    }
}

#botao{
    height: 10%;
    width: 102%;
    padding: 0;
    border: 0;
    font-family:'utsaah';
    font-size: 14pt;
    color: white;
    background-color: rgb(1, 84, 136);
}

@media (min-width:700px){
    #botao{
        height: 7%;
        font-size: 18pt;
    }
}

#blank2{
    grid-area: blank2;
    width: 100vw;
}

div {
    width: 58vh;
    position: relative;
    display: flex;
    justify-content: space-around;
}

@media (min-width:700px){
    div {
        width: 52vh;
    }
}

footer {
    grid-area: footer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

@media (min-width:700px){
    footer {
        justify-content: flex-end;
    }
}

footer a{
    color: rgb(1, 84, 136);
    font-family:'utsaah';
    font-size: 14pt;
    text-decoration: none;
}


